<script type="text/javascript" src="/assets/scripts/prettify.js"></script>
<link rel="stylesheet" href="/assets/css/prettify.css"/>
<script type="text/javascript">
var pre = document.createElement('pre');
pre.className = "highlight";
var code = document.createElement('code');
code.className = "prettyprint";
pre.insertBefore(code, null);
document.currentScript.parentNode.insertBefore(pre, document.currentScript)
fetch('https://raw.githubusercontent.com/Hyperfoil/Hyperfoil/{{ site.last_release.tag }}/{{ include.src }}')
  .then(function(response) {
      if (!response.ok) {
          console.log(response.statusText);
      }
      response.text().then(function (text) {
{% if include.slice != nil %}
        var slice = "{{ include.slice }}".split(":");
        text = text.split(/\r?\n/).slice(slice[0], slice[1]).join("\n");
{% endif %}
        code.innerHTML = text;
        prettyPrint();
      })
  })
</script>