<ul style="display: none;">
    {% include listitem.html title="Steps" link="/docs/reference_steps.html" %}
        {% include refcomp.html prefix="/docs/steps/step_" %}
    </li>
    {% include listitem.html title="Processors" link="/docs/reference_processors.html" %}
        {% include refcomp.html prefix="/docs/steps/processor_" %}
    </li>
    {% include listitem.html title="Actions" link="/docs/reference_actions.html" %}
        {% include refcomp.html prefix="/docs/steps/action_" %}
    </li>
</ul>